<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    </pluginGroups>
    <servers>
       <server>
           <id>my-project-deploy</id>
           <username>my-project</username>
           <password>1234</password>
       </server>
    </servers>
    <mirrors>
        <mirror>
            <id>mirror.central</id>
            <url>http://nexus.sdsdev.co.kr:8081/repository/maven-public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>dummy</mirrorOf>
            <name>Dummy mirror to override default blocking mirror that blocks http</name>
            <url>http://0.0.0.0/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
        </profile>
    </profiles>
</settings>
